body {
    background-color: rgb(113, 113, 233);
}
div {
    width: 150px;
    height: 150px;
    background-color:azure;
    border: solid medium black;
    border-radius: 35px;
    margin: 15px;
    padding: 15px;
    
}
.box1 {
    background-color:rgb(14, 163, 78);
    height: 400px;
    float: left;
}
.box2, .box3 {
    float: right;
}